@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");
:root {
  --line-fill-color: #34989b;
  --line-not-fill-color: #e0e0e0;
}
* {
  box-sizing: border-box;
}
body {
  background-color: #f6f7fb;
  font-family: "Muli", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  height: 100vh;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
}

.progress {
  background-color: var(--line-fill-color);
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  width: 50%;
  z-index: -1;
  transform: translateY(-50%);
  transition: 0.5s ease;
}

.progress-container::before {
  content: "";
  background-color: var(--line-not-fill-color);
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  width: 100%;
  z-index: -1;
  transform: translateY(-50%);
}

.circle {
  background-color: #fff;
  color: #999;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--line-not-fill-color);
  transition: 0.5s ease;
}
.circle.active {
  border-color: var(--line-fill-color);
}
.btn {
  background-color: var(--line-fill-color);
  color: #fff;
  border: 0;
  border-radius: 6px;
  padding: 10px 20px;
  margin: 5px;
  font-size: 14px;
  cursor: pointer;
}
.btn:active {
  transform: scale(0.98);
}
.btn:focus {
  outline: none;
}
.btn:disabled {
  background-color: var(--line-not-fill-color);
  cursor: not-allowed;
}