:root {
    --header-height: 300px;
    --title-height: 100px;
    --bg-img:url('https://images.unsplash.com/photo-1444080748397-f442aa95c3e5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1490&q=80');
    --title-color:#fff;
    --bg-color:#120a31a4;
    --text-color:#fff;
    --h-box-shadow:0px 6px 3px -3px rgba(255, 255, 255, 0.3);
}